@import url("http://fonts.googleapis.com/css?family=Reenie+Beanie:regular")

#container {
	margin: 10px;
	}

	button.create{
		margin-bottom: 8px;
	}

	.board{
	height: 100%;
	padding: 4px;
	text-decoration:none;
	color:#000;
	background:#ffc;
	height:10em;
	padding:1em;
}
		.notesContainer {
			background: #ffed50;
			border: 2px solid #ccc;
			display: inline-block;
			margin: 8px;
			padding: 8px;
}
.notesText{
	font-family:"Reenie Beanie",arial,sans-serif;
}
			.note{
				font-size: 1.1em;
				font-weight: 500;
				margin-bottom: 10px;
			}

			button {
				border-radius: 6px;
				margin-right: 6px;
			}

			textarea {
				display: block;
				margin-bottom: 10px;
			}
